/* Color palette */
:root {
  --vidify-green: #BFE277;
  --vidify-dark-green: #222823;
  --vidify-black: #08090A;
  --vidify-gray: #A7A2A9;
  --vidify-dark-gray: #575A5E;
}

/* Fonts */
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-VariableFont.ttf') format('truetype');
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Elements */
body {
  background-color: var(--vidify-black);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: var(--vidify-gray);
}

h1 {
  font-size: 3em;
}

iframe {
  height: 630px;
  width: 1120px;
}

/* Classes */
.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  text-align: center;
  gap: 4em;
}

.landingPage h1 {
  max-width: 13em;
  line-height: 1.1em;
}

.landingPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}

.landingPage input {
  background-color: var(--vidify-gray);
  border: none;
  border-radius: 4px;
  padding: 0.4em;
  width: 20em;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--vidify-black)
}

.landingPage input:focus {
  outline: none;
}

.landingPage button {
  background-color: var(--vidify-green);
  color: var(--vidify-dark-green);
  font-size: 2em;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
}

.landingPage button:hover {
  opacity: 80%;
}

.landingPage button:active {
  transform: scale(0.95);
}

.errorPage {
  text-align: center;
  margin-top: 10em;
}

.playlistsPage {
  display: flex;
  flex-direction: column;
  gap: 4em;
  text-align: center;
  margin-top: 4em;
  margin-bottom: 4em;
  align-items: center;
}

.playlistsContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 3em 8em;
  align-items: center;
}

.playlistTile {
  text-align: center;
  font-size: 1.5em;
  transition: transform 0.2s ease-in-out;
}

.playlistTile:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.playlistTile img {
  max-height: 8em;
  border-radius: 4px;
}

.cornerLogo {
  position: absolute;
  top: 2em;
  left: 6em;
  height: 6em;
}

.changeLink {
  position: absolute;
  top: 4em;
  right: 6em;
  font-size: 1.2em;
  text-decoration: underline;
  cursor: pointer;
}

.playerPage {
  display: flex;
  gap: 2em;
  align-items: center;
  min-height: 100vh;
  margin-left: 4em;
}

.songsList {
  display: flex;
  flex-direction: column;
  width: 20em;
  padding: 1em;
  height: calc(630px - 2em);
  background-color: var(--vidify-dark-green);
  border-radius: 4px;
  overflow-y: auto;
}

.songsList::-webkit-scrollbar {
  width: 10px;  /* Set the width of the vertical scrollbar */
  height: 10px; /* Set the height of the horizontal scrollbar */
}

/* Customize the scrollbar track (the area the scrollbar moves in) */
.songsList::-webkit-scrollbar-track {
  background: transparent; /* Optional: set background of track */
}

/* Customize the scrollbar thumb (the draggable part of the scrollbar) */
.songsList::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

/* Optional: When you hover over the scrollbar, change its appearance */
.songsList::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Darker when hovered */
}

.songsListHeader div {
  display: flex;
  justify-content: space-between;
  padding: 0 1em 0 1em;
  font-size: 1.1em;
}

.songsListSong {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em 0.5em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.songsListSong:hover {
  background-color: rgba(167, 162, 169, 0.2);
}

.songSelected {
  background-color: rgba(167, 162, 169, 0.2);
}

.songTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 14em;
  color: var(--vidify-green);
  font-size: 1.1em;
  line-height: 1.2em;
}

.songArtist {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 14em;
  margin-top: 0.2em;
}
